* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::root {

    --bluetw: #00acee;
}


.ui-widget {
    display: flex;
    flex-direction: column;
    position: relative!important;
    overflow: hidden!important;
    align-items: center;
    padding: 10px;
    gap: 5px;
     

    & #espec, & #especi {
        padding: 5px 10px;
        border: 0;
        border-radius: 14px;
        min-width: 300px;
        position: relative;
        box-shadow: 0 0px 7px -3px rgba(0, 0, 0, 0.633) ;

    }
   
    & li {
        
        width: 100%;
        list-style: none;
        padding: 0 5px;
        background-color: #ffffff;
        transition: all .2s ease-in-out;
     
    }
    & li:hover {
        width: 100%;
        list-style: none;
        padding: 0 5px;
        background-color: #c9c9c9;
     
    }
    
}
.ui-helper-hidden-accessible {display: none!important;
height: 0!important;}