* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::root {

    --bluetw: #00acee;
}

#nro1,
#nro2,
#nro3 {
    height: 100px;
    flex: 1 1 300px;
    width: 300px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 8px -6px black;
    border-radius: 10px;
    margin: 15px;
    transition: all .2s ease-in-out !important;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: antiquewhite;
    padding: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.393);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    margin: auto;
}

.fwrap {
    flex-wrap: wrap;
}

section {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.btn {
    background-color: #00acee;
    color: white;

}

button {
    padding: 5px 15px;
    border: 0;
    border-radius: 14px;
    border: solid 2px #00acee;
    color: #00acee;
    font-weight: 700;
    height: 24px;
    line-height: 10px;
    cursor: pointer;
    background-color: white;
    transition: all .05s ease-in-out;
    width: 140px;

}

button:hover {
    box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.448);
}

button.active {
    background-color: #00acee;
    color: white;
}

button.hover {
    background-color: #b00b02;
    color: white;
    border: solid 2px #b00b02;
}

form {
    width: 75vmin;
    height: 100%;
    margin: auto;
    margin-top: 20px;
}

.input {
    padding: 5px 15px;
    width: 100%;
    border-radius: 15px;
}

.list {
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}

.list-items {
    padding: 10px 5px;
}

.list-items:hover {
    background-color: #dddddd;
}



/* --------------BUSCADOR DATALIST----------------- */




.ui-widget {
    display: flex;
    flex-direction: column;
    position: relative!important;
    overflow: hidden!important;
    align-items: center;
    padding: 10px;
    gap: 20px;
    
  

    & #espec, & #especi, #nombre {
        padding: 5px 10px;
        border: 0;
        border-radius: 14px;
        min-width: 300px;
        position: relative;
        box-shadow: 0 0px 7px -3px rgba(0, 0, 0, 0.633) ;

    }
   
    & li {
        
        width: 100%;
        list-style: none;
        padding: 0 5px;
        background-color: #ffffff;
        transition: all .2s ease-in-out;
     
    }
    & li:hover {
        width: 100%;
        list-style: none;
        padding: 0 5px;
        background-color: #c9c9c9;
     
    }
    
}
.ui-helper-hidden-accessible {display: none!important;
height: 0!important;}



.addcart{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    gap: 5px;
    .btn{
        flex: 1!important;
        height: 100%;
        font-weight: 700;
        font-size: 24pt;
    }
    i{
        display: grid;
        place-items: center;
        font-size: 24pt;
        flex: 0 0 3ch!important;
        height: 100%;
        padding: 0 3ch;        
    }
    
}