

.rowvac {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: auto;
    margin-top:2px
}

.pd5 {
    padding: 5px 15px;
}

.smref {
    font-size: 8pt;
}

.sm {
    padding-top: 7px;
    font-size: 14pt !important;
}

.shadow {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.158);
}

.main_container::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: rgba(24, 36, 170, 0.393);
}

.main_container::-webkit-scrollbar-thumb {
    background: rgba(24, 36, 170, 0.8);
    border-radius: 4px;
}

.main_container {
    max-width: 96%;
    height: 600px;
    margin: auto;
    scroll-snap-type: x mandatory;
    overflow: scroll;

    & table {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        border: 0;
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
    }
}

table thead {
    /* COLOR DE FONDO DEL ENCABEZADO */
    background-color: rgba(114, 122, 192, 0.93);
    color: white;
    position: sticky;
    top: 0;
    max-width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);

    & th {
        padding: 3px;
        min-width: 120px;
    }

    & th:nth-child(1) {
        position: sticky;
        /* min-width: 50px; */
        background-color: rgba(114, 122, 192, 0.93);
        backdrop-filter: blur(5px);
        color: white;
        left: 0;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* ALTERNAR COLOR DE FONDO DE CADA FILA */
table tbody tr:nth-child(even) {
    background-color: rgba(231, 238, 250, 0.899);
}

table tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.775);
}

table tbody tr {
    
    & td:first-child {
        position: sticky;
        left: 0;
        z-index: 0;
        /* COLOR DE FONDO DE LA 1ER COLUMNA */
        background-color: rgba(116, 124, 192, 0.916);
        backdrop-filter: blur(5px);
        color: white;
        /* line-height: 18pt; */
    }

    & td {
        z-index: 0 !important;
        

        & .flex {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }

    & a {
        color: white;

        ;
    }
}

.action {
    border: 0;
    cursor: pointer;
    width: 100%;
    color: gray;
    background-color: transparent;
}

.action:hover {
    transform: scale(1.15);
}

.action:active {
    text-shadow: 0 0 10px rgba(44, 44, 44, 0.479);
    color: rgba(255, 255, 255, 0.814);
}

.hide {
    display: none;
}

/* COLOR VACUNA ERRONEA */
.error {
    background-color: rgb(255, 54, 54);
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.158);
    color: white;
    cursor:pointer;
    & div {
        color: white;
    }
}
/* COLOR VACUNA APLICADA TARDIAMENTE */
.tarde {
    background-color: yellow;
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.158);
    cursor: pointer;
    & div {
        color: rgb(57, 57, 57);
    }
}
/* COLOR VACUNA DISPONIBLE */
.disp {
    background-color: rgb(64, 255, 137);
    cursor: pointer;
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.158);
    & div {
        color: rgb(57, 57, 57);
    }

}
/* COLOR VACUNA APLICADA CORRECTAMENTE */
.done {
    background-color: rgba(24, 37, 170, 0.9);
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.158);
    cursor: pointer;
    color: white;
    & div {
        color: white;
    }
}

